if SHIELD_CANTORW_LEFT

config ZMK_KEYBOARD_NAME
	default "CantorW"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_CANTORW_LEFT || SHIELD_CANTORW_RIGHT

config ZMK_SPLIT
	default y

endif
